

{% extends 'custom_admin/admin_base.html' %}
 {% load static %} 
 {% block content %}

<div class="col-sm-12 col-xl-10">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Update Product</h6>
        <form method="POST" action="#">
            {% csrf_token %} 

            {% if form.errors %}  
            <div class="col-sm-12 col-xl-12">
                <div class="bg-light rounded h-100 p-4">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>{{form.errors}}!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            {% endif %}

    
     
            <div class="form-floating mb-3">
                <p class="mb-4">Product Name:</p> 
                {{ form.title }}
            </div>

     <div class="form-floating mb-3">
            <p class="mb-4">Employee First Name:</p>
            {{ form2.first_name }}
        </div>
        <div class="form-floating mb-3">
            <p class="mb-4">Employee Last Name:</p>
            {{ form2.last_name}}
        </div>
        <div class="form-floating mb-3">
            <p class="mb-4">Employee Phone:</p>
            {{ form2.mobile_number }}
        </div>
 
        {% comment %} ----------------------User employee model ------------------------------- {% endcomment %}
        
        <div class="form-floating mb-3">
            <p class="mb-4">Employee Salary:</p>
            {{ form.salary }}
        </div>
        <div class="form-floating mb-3">
            <p class="mb-4">Employee Salary_status:</p>
            {{ form.salary_status}}
        </div>

        <div class="form-floating mb-3">
            <p class="mb-4">Employee Address:</p>
            <div >{{ form.address }}</div> 
        </div>
        <div class="form-floating mb-3">
            <p class="mb-4">Employee Notes:</p>
            <div >{{ form.notes }}</div> 
        </div>
        <button type="submit" class="btn btn-primary">Update Employee</button>

    </form>
    </div>
</div>

{% endblock %}