{% extends 'custom_admin/admin_base.html' %}
 {% load static %} 
 {% block content %}

<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col-sm mb-2 mb-sm-0">
        <h1 class="page-header-title">
          <i class="tio-filter-list"></i> Product List
          <span class="badge badge-soft-dark ml-2">27</span>
        </h1>
      </div>
    </div>
  </div>

  <div class="row gx-2 gx-lg-3">
    <div class="col-sm-12 col-lg-12 mb-3 mb-lg-2">
      <div class="card">
        <div class="card-header">
          <div
            class="row justify-content-between align-items-center flex-grow-1"
          >
            <div class="ml-3">
              <form
                action="https://hexacom-admin.6amtech.com/admin/product/list"
                method="GET"
              >
                <div class="input-group">
                  <input
                    id="datatableSearch_"
                    type="search"
                    name="search"
                    class="form-control"
                    placeholder="Search"
                    aria-label="Search"
                    value=""
                    required
                    autocomplete="off"
                  />
                  <div class="input-group-append">
                    <button type="submit" class="input-group-text">
                      <i class="tio-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <a
                href="https://hexacom-admin.6amtech.com/admin/product/add-new"
                class="btn btn-primary float-right"
                ><i class="tio-add-circle"></i> Add New Product
              </a>
            </div>
          </div>
        </div>

        <div class="table-responsive datatable-custom">
          <table
            class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
          >
            <thead class="thead-light">
              <tr>
                <th>#</th>
                <th style="width: 30%">Name</th>
                <th style="width: 25%">Image</th>
                <th>Status</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="set-rows">

            {% for product in products %}
              <tr>
                <td>1</td>
                <td>
                  <span class="d-block font-size-sm text-body">
                    <a
                      href="https://hexacom-admin.6amtech.com/admin/product/view/28"
                    >
                      {{product.title}}
                    </a>
                  </span>
                </td>
                <td>
                  <div
                    style="
                      height: 100px;
                      width: 100px;
                      overflow-x: hidden;
                      overflow-y: hidden;
                    "
                  >
                    <img
                      src="https://hexacom-admin.6amtech.com/storage/app/public/product/2021-10-13-6166f8d45183d.png"
                      style="width: 100px"
                      onerror="this.src='https://hexacom-admin.6amtech.com/public/assets/admin/img/160x160/img2.jpg'"
                    />
                  </div>
                </td>
                <td>
                  <div
                    style="padding: 10px; border: 1px solid; cursor: pointer"
                    onclick="location.href='https://hexacom-admin.6amtech.com/admin/product/status/28/0'"
                  >
                    <span class="legend-indicator bg-success"></span>Active
                  </div>
                </td>
                <td>{{product.regular_price}}$</td>
                <td>
                  <label class="badge badge-soft-info">{{product.stock}}</label>
                </td>
                <td>
                  <div class="dropdown">
                    <button
                      class="btn btn-secondary dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="tio-settings"></i>
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a
                        class="dropdown-item"
                        href="{% url 'custom_admin:update_product' product.pk %}"
                        >Edit</a
                      >
                      <a
                        class="dropdown-item"
                        href="javascript:"
                        onclick="form_alert('product-28','Want to delete this item  ')"
                        >Delete</a
                      >
                      <form
                        action="https://hexacom-admin.6amtech.com/admin/product/delete/28"
                        method="post"
                        id="product-28"
                      >
                        <input
                          type="hidden"
                          name="_token"
                          value="drfN3CLFzbTlMOYHtQrnNNlFlkaWjiOzhL3qiNWm"
                        />
                        <input type="hidden" name="_method" value="delete" />
                      </form>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
              
            </tbody>
          </table>
          <hr />
          <div class="page-area">
            <table>
              <tfoot class="border-top">
                <nav>
                  <ul class="pagination">
                    <li
                      class="page-item disabled"
                      aria-disabled="true"
                      aria-label="&laquo; Previous"
                    >
                      <span class="page-link" aria-hidden="true">&lsaquo;</span>
                    </li>
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">1</span>
                    </li>
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="https://hexacom-admin.6amtech.com/admin/product/list?page=2"
                        >2</a
                      >
                    </li>
                    <li class="page-item">
                      <a
                        class="page-link"
                        href="https://hexacom-admin.6amtech.com/admin/product/list?page=2"
                        rel="next"
                        aria-label="Next &raquo;"
                        >&rsaquo;</a
                      >
                    </li>
                  </ul>
                </nav>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
