

{% extends 'custom_admin/admin_base.html' %}
 {% load static %} 
 {% block content %}


<div class="content container-fluid">

   {% if form.errors %}  
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>{{form.errors}}!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
    {% endif %}


    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-sm mb-2 mb-sm-0">
                <h1 class="page-header-title">
                    <i class="tio-add-circle-outlined"></i> Update Product
                </h1>
            </div>
        </div>
    </div>

    <div class="row gx-2 gx-lg-3">
        <div class="col-sm-12 col-lg-12 mb-3 mb-lg-2">
            <form  method="POST" id="product_form" enctype="multipart/form-data">
                {% csrf_token %}
        
                <div class="card p-4  lang_form" id="en-form">
                    <div class="form-group">
                        <label class="input-label" for="en_name">Name (EN)</label>
                            {{ form.title }}
                    </div>

                    <div class="form-group">
                        <label class="input-label" for="en_name">Slug</label>
                        {{ form.slug }}
                    </div>
             
                    <div class="form-group pt-4">
                        <label class="input-label" for="en_description">Short Description (EN)</label>
                        <!-- <div id="myContent" id="en_editor" style="min-height: 15rem;"></div>
                        <textarea  name="description" style="display:none" id="en_hiddenArea"></textarea> -->
                        {{ form.description }}
                    </div>
                </div>
              

                <div id="from_part_2">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label class="input-label" >Price</label>
                                {{ form.regular_price }}
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="input-label" >Unit(1kg/1ltr/1pc)</label>
                                {{ form.unit }}
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label class="input-label" >Unit</label>
                                {{form.unit_choices}}
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4 col-4">
                            <div class="form-group">
                                <label class="input-label" >Discount</label>
                                {{ form.discount_price }}
                            </div>
                        </div>
                        {% comment %} <div class="col-md-4 col-4">
                            <div class="form-group">
                                <label class="input-label" >Discount Type</label>
                                <select name="discount_type" class="form-control js-select2-custom">
                                    <option value="percent">Percent</option>
                                    <option value="amount">Amount</option>
                                </select>
                            </div>
                        </div> {% endcomment %}



                          <div class="col-md-4 col-4">
                            <div class="form-group">
                                <label class="input-label" >Active</label>
                                 {{ form.is_active }}
                            </div>
                        </div>


                        <div class="col-md-4 col-4">
                            <div class="form-group">
                                <label class="input-label" >Stock</label>
                                {{ form.stock }}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 col-6">
                            <div class="form-group">
                                <label class="input-label" for="exampleFormControlSelect1">Category<span
                                        class="input-label-secondary">*</span></label>
                                {{form.category}}
                            </div>
                        </div>

                        <div class="col-md-6 col-6">
                            <div class="form-group">
                                <label class="input-label" for="exampleFormControlSelect1">Brand<span
                                        class="input-label-secondary"></span></label>
                                        {{form.brand}}
                            </div>
                        </div>

                    </div>


                    <div class="form-group">
                        <label>Product Image</label><small style="color: red">* ( Ratio 1:1 )</small>
                        <div>
                            <div class="row" id="coba"></div>
                        </div>
                    </div>

                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>






{% endblock %}