{% extends 'base_new.html' %}
{% load static %}
{% block content %}

    <style type="text/css">
    <!--- some stylesheet that apply to all pages -->
.owl-nav button {
 /* position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;*/
  display: none;
}
/*.owl-nav button.owl-prev {
  left: 0;
}
.owl-nav button.owl-next {
  right: 0;
}
*/
.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}

</style>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row" style="height:100%;">

                <div class="col-lg-3" >
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                           {% for category in categories %}
                            <li><a href="#">{{category.name|truncatechars:20}}</a></li>
                           {% endfor %}
                        </ul>
                    </div>
                </div>



                <div class="col-lg-9 owl-carousel owl-theme">

                    <div class="hero__item set-bg " data-setbg="img/hero/banner.jpg">
                       <!--  <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Vegetable <br />100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div> -->
                    </div>

                     <div class="hero__item set-bg " data-setbg="img/banner/banner-1.jpg">
                       <!--  <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Vegetable <br />100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div> -->
                    </div>

                     <div class="hero__item set-bg " data-setbg="img/hero/banner.jpg">
                       <!--  <div class="hero__text">
                            <span>FRUIT FRESH</span>
                            <h2>Vegetable <br />100% Organic</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="#" class="primary-btn">SHOP NOW</a>
                        </div> -->
                    </div>

                </div>

 

            </div>
        </div>
    </section>
    <!------------------------ Hero Section End --------------------->



<section class="categories">
   <div class="card-categories container">

      <div class="latest-product__text">
         <h4>Categories</h4>
      </div>

         <div class="card-categories-ul">

            {% for category in categories %}
            <div class="card-categories-li">
               <a class="card-categories-li-a" href="">
                  <div class="card-categories-image-container">
                     <img class="card-categories-image" src="{{category.image.url}}" alt="{{category.name}}">
                  </div>
                  <div class="card-categories-name">
                     <span class="card-categories-name-span">
                     {{category.name|truncatechars:20}}
                     </span>
                  </div>
               </a>
            </div>
            {% endfor %}


         </div>

      <!-- </div> -->
   </div>
</section>


<!-- Categories Section End -->


    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="latest-product__text">
                        <h4>Latest Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                              {% for product in latest_products %}
                                <a href="{% url 'catalogue:product_detail' product.slug %}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{product.thumbnail_image.url}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{product.title|truncatechars:20}}</h6>
                                        <span>${{product.regular_price}}</span>
                                    </div>
                                </a>
                              {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="latest-product__text">
                        <h4>Featured Product</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">

                              {% for product in featured_product %}
                                <a href="{% url 'catalogue:product_detail' product.slug %}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{product.thumbnail_image.url}}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{product.title|truncatechars:20}}</h6>
                                        <span>${{product.regular_price}}</span>
                                    </div>
                                </a>
                                {% endfor %}
                        
                            </div>
                          <!--   <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>

               <!--  <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Products</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div>
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-1.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-2.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                                <a href="#" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="img/latest-product/lp-3.jpg" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>Crab Pool Security</h6>
                                        <span>$30.00</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->
	
	


    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/banner-2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Products</h2>
                    </div>
             <!--        <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".oranges">Oranges</li>
                            <li data-filter=".fresh-meat">Fresh Meat</li>
                            <li data-filter=".vegetables">Vegetables</li>
                            <li data-filter=".fastfood">Fastfood</li>
                        </ul>
                    </div> -->
                </div>
            </div>


           <div class="row">
            {% for product in products %}

              <div class="col-6 col-md-3 col-lg-2 ">
                    <div class="featured__item">
                      
                        <div class="featured__item__pic set-bg" data-setbg="{{product.thumbnail_image.url}}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
        
                        <div class="featured__item__text">
                            <h6>
                              <a href="{% url 'catalogue:product_detail' product.slug %}">{{product.title|truncatechars:20}}</a>
                            </h6>
                            <h5>${{product.regular_price}}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}


           </div>

        </div>
    </section>
    <!-- Featured Section End -->

    <script type="text/javascript">
    $('.owl-carousel').owlCarousel({
    loop:true,
    nav:true,
    autoplay:true,
     responsiveClass: true,
  autoHeight: true,
   
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
    </script>

{% endblock %}